@font-face {
    font-family: 'Binary';
    src: url('assets/Polices/Binary/binchrt.ttf') format('truetype');
}


body{
    background-image: url('assets/images/background-secret.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@keyframes floating {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 0);
    }
    50% {
        opacity: 1;
        visibility: visible;
        transform: translate(10px, -10px);
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: translate(20px, -20px);
    }
}

.code-secret {
    position: absolute;
    animation: floating 4s ease-in-out infinite;
}


.compte-a-rebours {
    z-index: 10;
    display: flex;
    text-align: center;
    justify-content: end;
}

.timer {
    font-size: 25px;
    font-family: 'Binary';
    padding: 10px;
    background-color: black;
    color: green;
    border: 5px solid green;
}



/* Image chargement glitch*/

.glitch {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9999;
  }
  
  .glitch__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/images/hack.png'); /* Replace this with your image URL */
    background-size: cover;
    animation: glitch 0.5s linear;
  }
  
  @keyframes glitch {
    0% {
      transform: skewX(0deg) scale(1);
      filter: hue-rotate(0deg);
    }
    20% {
      transform: skewX(20deg) scale(0.8);
      filter: hue-rotate(90deg);
    }
    40% {
      transform: skewX(-20deg) scale(0.8);
      filter: hue-rotate(180deg);
    }
    60% {
      transform: skewX(20deg) scale(0.8);
      filter: hue-rotate(270deg);
    }
    80% {
      transform: skewX(-20deg) scale(0.8);
      filter: hue-rotate(360deg);
    }
    100% {
      transform: skewX(0deg) scale(1);
      filter: hue-rotate(0deg);
    }
  }


  .glitch__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    animation: hide 1s linear forwards;
  }
  
  @keyframes hide {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
  