@font-face {
    font-family: 'Binary';
    src: url('assets/Polices/Binary/binchrt.ttf') format('truetype');
}


body{
    background-image: url('assets/images/background-secret.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@keyframes floating {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 0);
    }
    50% {
        opacity: 1;
        visibility: visible;
        transform: translate(10px, -10px);
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: translate(20px, -20px);
    }
}

.code-secret {
    position: absolute;
    animation: floating 4s ease-in-out infinite;
}


.compte-a-rebours {
    z-index: 10;
    display: flex;
    text-align: center;
    justify-content: end;
}

.timer {
    font-size: 25px;
    font-family: 'Binary';
    padding: 10px;
    background-color: black;
    color: green;
    border: 5px solid green;
}



/* Image chargement glitch*/

.glitch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .glitch__img {
    background-image: url('assets/images/hack.png'); /* Replace this with your image URL */
    background-size: cover;
    width: 100%;
    height: 100%;
    animation: glitch 2s infinite;
  }
  
  @keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-5px, 5px);
    }
    40% {
      transform: translate(5px, -5px);
    }
    60% {
      transform: translate(-5px, 5px);
    }
    80% {
      transform: translate(5px, -5px);
    }
    100% {
      transform: translate(0);
    }
  }
  
  