body{
    background-image: url('assets/images/background-secret.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@keyframes floating {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 0);
    }
    50% {
        opacity: 1;
        visibility: visible;
        transform: translate(10px, -10px);
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translate(20px, -20px);
    }
}

.img {
    position: absolute;
    animation: floating 5s ease-in-out infinite;
}

  